
// base colors
$primary-color: #0d6efd;
$secondary-color: #6c757d;
$success-color: #198754;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #212529;
$orange: orange;
$green: green;
$purple: purple;
$light-blue: blue;
$red: red;
$blue: blue;


// special backgrounds
$card-bg: #ffffff;
$bg-color: #1C1C1D;
$header-bg: #252728;

// texts colors
$text-dark: #212529;
$text-light: #ffffff;