/* You can add global styles to this file, and also import other style files */
@use '../src/styles/colors.scss' as colors;

body {
    margin: 0;
    font-family: system-ui;
    background-color: colors.$bg-color;
}